# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.14
      uses: actions/setup-python@v6
      with:
        python-version: 3.14
    - name: Install dependencies
      run: |
        pip install -e .[dev]
    - name: Lint with flake8
      run: |
        flake8 memover --max-complexity=10 --max-line-length=300 --statistics
        flake8 tests --max-complexity=10 --max-line-length=300 --statistics
    - name: Test
      run: |
        python -m unittest discover tests